<div id="lipsum" style="position: absolute; z-index: -1;">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum hendrerit odio, et sollicitudin elit ultricies eu. Sed quis dignissim dui. Mauris leo purus, viverra ut imperdiet eu, scelerisque placerat felis. Ut metus leo, viverra ut pretium sit amet, facilisis eget massa. Phasellus tellus sem, consectetur vel volutpat placerat, facilisis sit amet lorem. Nulla pellentesque pretium ligula, eget facilisis mi mollis non. Morbi et metus nec nisl vehicula mattis et sed tortor. Aliquam condimentum bibendum nibh.
</p>
<p>
Curabitur dictum sapien metus. Maecenas sodales commodo risus, et suscipit magna porta eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vitae augue ligula. Quisque porta tortor urna. Suspendisse mattis scelerisque tincidunt. Ut feugiat felis non diam imperdiet a mollis ante sollicitudin. Nam a elit et libero pellentesque blandit sit amet nec nunc. Proin euismod elit sed urna pretium vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent a arcu vitae neque pharetra feugiat.
</p>
<p>
Pellentesque tincidunt vehicula tempor. Cras suscipit arcu in sem dictum in ultrices urna lacinia. Donec venenatis turpis a arcu condimentum id accumsan justo molestie. Phasellus ornare varius nulla quis tincidunt. Proin ornare velit et lorem blandit in pharetra erat aliquam. Suspendisse potenti. Morbi augue purus, lobortis sed convallis facilisis, porttitor nec ipsum. Nam sed lectus vel massa consectetur vehicula. Mauris ante ante, vehicula vel suscipit sit amet, egestas et nunc. Nullam vel justo quis libero condimentum scelerisque. Pellentesque viverra congue hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed molestie est eu nibh vehicula nec pretium erat sagittis. Pellentesque vitae nisi vitae nibh egestas blandit in eget dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
<p>
Aenean et lorem quam. Morbi id purus magna. Cras sed libero id eros pharetra semper auctor nec purus. Phasellus quam lorem, mollis vel tristique non, lacinia sed est. Aenean porttitor pellentesque lacus ut tristique. Donec sollicitudin interdum eros ac dignissim. Sed bibendum quam egestas ipsum fermentum pellentesque. Nunc porttitor consectetur risus a ultricies. Ut pellentesque orci nec libero commodo a consectetur diam vulputate. Fusce malesuada volutpat ipsum id mollis. Suspendisse nec purus ut libero tincidunt lacinia eget nec velit. Cras lacinia tortor id velit consectetur sed consequat mauris convallis. Curabitur ut magna et lectus auctor consectetur. Morbi tincidunt sapien nec lorem tempor rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<p>
Etiam fringilla dictum felis, id tempor ante dictum vitae. Aenean sit amet dui nunc, suscipit vestibulum diam. Aliquam erat volutpat. Aenean vehicula varius vestibulum. Pellentesque dictum, nulla ut feugiat laoreet, justo mi sodales est, nec convallis metus lacus ac turpis. Duis eu arcu at magna malesuada mattis vitae ut est. Aenean euismod ligula vitae est egestas et ultricies augue laoreet. Vivamus sit amet molestie dolor. Aliquam erat volutpat. Sed sit amet tortor nec nulla posuere suscipit id vitae nunc.
</p></div>

<canvas id="gameCanvas" width="800" height="600" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; pointer-events: none;">

</canvas>