<script type="text/javascript" src="/js/lib/jquery-1.6.2.js"></script>

{{#page}}
{{#main}}
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/browserify.js"></script>
<script type="text/javascript">
var Game = require("./Game.js");
window.onload = function()
{
    Game.create();
}
</script>
{{/main}}
{{/page}}